<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- (wwwpath === '/' ? '(Root)' : wwwpath) %> | <%- config.siteName %> </title>
    <style>
        html, body {
            font-family: -apple-system, 'SC Pro Text', 'Noto Sans', 'Open Sans', 'Roboto', 'Ubuntu', 'PingFang SC', 'Noto Sans CJK SC', 'Hiragino Sans GB', sans-serif;
            padding: 0;
            margin: 0;
        }
        .grand-container {
            max-width: 900px;
            padding: 30px;
            margin: 0 auto;
        }

        .header-title {
            font-size: 20px;
            font-weight: bold;
            padding: 10px 0;
        }
        .header-nav {
            font-size: 15px;
            padding: 30px 0 10px;
        }
        .header-nav a {
            color: #07D;
            text-decoration: none;
        }


        .grand-content {
            font-family: 'JetBrains Mono NL', 'JetBrains Mono', 'Ubuntu Mono', 'Noto Mono', 'Fira Code', monospace, -apple-system, 'SC Pro Text', 'Noto Sans', 'Open Sans', 'Roboto', 'Ubuntu', 'PingFang SC', 'Noto Sans CJK SC', 'Hiragino Sans GB' !important;
            border-top: 1px solid #AAA;
            border-bottom: 1px solid #AAA;
            padding: 50px 0;
        }
        table tbody tr td:first-child {
            font-size: 20px;
            text-align: center;
            vertical-align: top;
            padding: 2px 10px 0 0;
            width: 26px;
        }
        table tbody tr td:last-child {}
        a.dir-entity-item {
            font-size: 18px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            padding: 4px 5px 1px 2px;
            margin: 0 0 6px 0;
            border-radius: 1px;
        }
        a.dir-entity-item:hover {
            background: #EEE;
            box-shadow: #EEE 0 0 0 3px;
        }

        .grand-footer {
            font-size: 13px;
            padding: 100px 0 0;
        }
    </style>
</head>

<body>
    <div class="grand-container">
        <div class="grand-header">
            <div>
                <header>
                    <div class="header-title"><%- config.siteName %></div>
                    <div class="header-nav">
                        <a href="/">(Root)</a> /
                        <%-
                            pageChain ? pageChain.map(function (x, i, arr) {
                                return `<a href="/${arr.slice(0, i+1).join('/')}/">${x}</a> / `;
                            }).join('')  : ''
                        %>
                        <h1><%- pageChain ? pageTitle : '&nbsp;&nbsp;&nbsp;' %></h1>
                    </div>
                </header>
            </div>
        </div>
        <div class="grand-content">
            <table class="list-dirs">
                <tbody>
                    <% dirsList.map(function (itemName) { %>
                        <tr>
                            <td>&#x1f5bf;</td>
                            <td>
                                <a class="dir-entity-item type-dir"                     href="<%- (itemName) %>/"   >
                            
                                    <%- itemName %>/
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <table class="list-files">
                <tbody>
                    <% filesList.map(function (itemName) { %>
                        <tr>
                            <td>&#x1f5ce;</td>
                            <td>
                                <a class="dir-entity-item type-file" target="_blank"    href="<%- (itemName) %>"    >
                                    <%- itemName %>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <footer class="grand-footer">
            <div><%- config.copyrightLine %></div>
        </footer>
    </div>
</body>

</html>
